.dashboardWrapper {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.mainBanner {
  height: 500px;
  width: 100vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;

  .bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 50px;
    z-index: -1;
    height: 650px;
    width: 100%;
  }
  .bannerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .subInfo {
      padding: 8px 10px 8px 10px;
      border-radius: 8px;
      background-color: #575757;
      box-shadow: 0px 0px 6.4px 0px #0000000d;
      color: white;
    }
  }
}

.mainInfoWrapper {
  width: 636px;
  height: 232px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emojiCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 176px;
  height: 176px;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 4px 16px 0px #0000001a;

  .numCount {
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
  }
}

.gridImg {
  box-shadow: 0px 4px 12.8px 5px #0000000d;
  border-radius: 24px;
}

.whiteBtnWrapper {
  padding: 14px 18px 14px 18px;
  border-radius: 12px;
  border: 1px;
  border: 1px solid #ebebeb;
  width: fit-content;

  &.withBoxShadow {
    box-shadow: 0px 0px 7.5px 0px #4adc8c9c;
  }

  .whiteBtn {
    font-size: 14px;
    font-weight: 600;
    line-height: 22.68px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #363636;
  }
}

.partnerImgWrapper {
  img {
    padding: 20px;
    border-right: 2px solid;
    opacity: 0.8;
  }
}
